@page
@model WebApp.Pages.Producto.GridModel
@{
}

<div class="container-fluid">


    <div class="card">

        <div class="card-header">

    
    Producto
      </div>

        <div class="card-body">

            <div class="col-12">

                <table id="GridView"class="table table-bordered table table-striped table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>IdProducto</th>
                            <th>NombreProducto</th>
                            <th>PrecioProducto</th>
                            <th>Acción</th>

                        </tr>
                    </thead>



                    <tboby>
                        @foreach (var item in Model.GridList)

                               {
                        <tr>

                            <td> @item.IdProducto </td>
                            <td> @item.NombreProducto </td>
                            <td> @item.PrecioProducto </td>
                            


                            <td>
                                <a class="btn btn-primary" asp-page="Edit" asp-route-id="@item.IdProducto"><i class='bx bx-edit-alt'></i></a>

                                <button type="button" class="btn btn-danger" onclick="ProductoGrid.OnClickEliminar(@item.IdProducto)">
                                    <i class='bx bx-trash'></i>
                                </button>


                            </td>



                        </tr>
                                 
                              

                                }

                        <tr>

                            <td></td>
                          

                        </tr>



                        </tboby>

                    </table>
            </div>

        </div>

        </div>


</div> 

@section Scripts {

     <script>

         var MensajeApp = "@Html.Raw(Model.Mensaje)";




     </script>


    <script defer src="~/App/Producto/Grid.js"></script>
}

